# Android
bin/
gen/
out/

# Eclipse project files
.project
.classpath
.settings
.properties
.metadata

# IntelliJ project files
*.iml
.idea
classes
local.properties

gen-external-apklibs

# Maven build files
target

# Gradle
.gradle
build/
Thumbs.db

# others
.DS_Store
tmp
