# Android
bin/
gen/

# Eclipse project files
.project
.classpath
.settings
.properties
.metadata

# IntelliJ project files
*.iml
.idea
classes

gen-external-apklibs

# Maven build files
target

# others
.DS_Store
tmp
