<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foursquare.android.nativeoauth"
    android:versionCode="0"
    android:versionName="0">

    <application android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.foursquare.android.nativeoauth.FoursquareOAuthWebviewActivity" />
        <activity android:name="com.foursquare.android.nativeoauth.TokenExchangeActivity" />
    </application>
</manifest>